---
- include: compat.yml

- include: include_vars.yml

# Install EPEL
- include: epel.yml
  when: ansible_distribution == 'CentOS'

- include: Debian.yml
  when: ansible_os_family == 'Debian'

- include: RedHat.yml
  when: ansible_os_family == 'RedHat'

# Install Monit
- include: install_package_names.yml

- include: create_user.yml

- name: Make log directory
  sudo: True
  file:
    path: "{{spark_log_dir}}"
    owner: "{{spark_user}}"
    state: directory

- name: Make pid directory
  sudo: True
  file:
    path: "{{spark_pid_dir}}"
    owner: "{{spark_user}}"
    state: directory

- include: untar_spark.yml

- name: spark-env.sh
  sudo: True
  template: >
    src=spark-env.sh.j2
    dest={{spark_install_dir}}/conf/spark-env.sh
    owner={{spark_user}}
    mode=0755

- name: slaves
  sudo: True
  template: >
    src=slaves.j2
    dest={{spark_install_dir}}/conf/slaves
    owner={{spark_user}}

- name: Install monit config for spark
  sudo: True
  template: >
    src=spark.conf.j2
    dest={{spark_monit_conf_dir}}/spark.conf
    owner=root
  notify: restart monit

- name: Make sure monit is started
  sudo: True
  service: name=monit state=started
